%h3
  %a{href: "/citizen/#{@city.name}"} 城市面板
  %aside
    - if @city.food_storage > 0
      %form{action: "/api/update", method: "post"}
        %input{type: "hidden", name: "name", value: @city.name}
        %input{type: "submit", value: "下一天"}

%h3
  =@city.name
  %aside
    ="天数: #{@city.days}"
%table
  %tr
    %th 城市等级
    %th 人口总数
    %th 食物储量
    %th 耕地面积
    %th 建筑指数
  %tr
    %td{style: "text-align:center"}=@city.city_level.to_i
    %td{style: "text-align:center"}=@city.population
    %td{style: "text-align:center"}="%.2f" % @city.food_storage
    %td{style: "text-align:center"}="%.2f" % @city.farm_level
    %td{style: "text-align:center"}= "%.2f" % @city.city_upgrade

%form{action: "/api/set_policy", method: "post"}
  %input{type: "hidden", name: "name", value: @city.name}
  %h3
    政策
    %aside
      %input{type: "submit", value: "保存"}
  %table
    %tr
      %th 全民福利
      %th 饥饿救助
      %th 自动升级
    %tr
      %td{style: "text-align:center"}
        %input{type: "text", name: "welfare", value: "%.2f" % @city.policy[:welfare]}
      %td{style: "text-align:center"}
        %input{type: "text", name: "alms", value: "%.2f" % @city.policy[:alms]}
      %td{style: "text-align:center"}
        %select{name: "auto_upgrade"}
          %option{selected: @city.policy[:auto_upgrade] , value: "1"} 是
          %option{selected: !@city.policy[:auto_upgrade], value: "0"} 否

%form{action: "/api/set_tax", method: "post"}
  %input{type: "hidden", name: "name", value: @city.name}
  %h4
    税收
    %aside
      %input{type: "submit", value: "保存"}
  %table  
    %tr
      %th 种植
      %th 开垦
      %th 建造
    %tr
      %td{style: "text-align:center"}
        %input{type: "text", name: "tax[]", value: "%.2f" % @city.base_tax[0]}
      %td{style: "text-align:center"}
        %input{type: "text", name: "tax[]", value: "%.2f" % @city.base_tax[1]}
      %td{style: "text-align:center"}
        %input{type: "text", name: "tax[]", value: "%.2f" % @city.base_tax[2]}

%form{id: "actions", action: "/api/set_action", method: "post"}
  %input{type: "hidden", name: "name", value: @city.name}
  %h4
    工作
    %aside
      %input{type: "submit", value: "保存"}
  %table{id: "table"}
    %tr
      %th 种植
      %th 开垦
      %th 建造
      %th 税收（额外）
      %th 介绍
      %th 删除

    - @city.extra_actions.each_with_index do |action, index|
      %tr
        %td{style: "text-align:center"}
          %input{type: "text", name: "f0[]", value: "%.3f" % action.features[0]}
        %td{style: "text-align:center"}
          %input{type: "text", name: "f1[]", value: "%.3f" % action.features[1]}
        %td{style: "text-align:center"}
          %input{type: "text", name: "f2[]", value: "%.3f" % action.features[2]}
        %td{style: "text-align:center"}
          %input{type: "text", name: "tax[]", value: "%.2f" % @city.extra_tax[index]}
        %td{style: "text-align:center"}
          %input{type: "text", name: "d[]", value: action.description}
        %td{style: "text-align:center"}
          %a{onclick: "del_action(this);"} 删除
  %br
  %a{onclick: "add_action();"}="+1 额外的工作 (最多: #{@city.city_level.to_i})"

:javascript
  function add_action() {
    var table = document.getElementById('table')
    var id = table.rows.length
    var row = table.insertRow(id)
    row.insertCell(0).innerHTML = '<input type="text" name="f0[]"/>'
    row.insertCell(1).innerHTML = '<input type="text" name="f1[]"/>'
    row.insertCell(2).innerHTML = '<input type="text" name="f2[]"/>'
    row.insertCell(3).innerHTML = '<input type="text" name="tax[]"/>'
    row.insertCell(4).innerHTML = '<input type="text" name="d"/>'
    row.insertCell(5).innerHTML = '<a onclick="del_action(this);">删除</a>'
  }

  function del_action(cell) {
    var i = cell.parentNode.parentNode.rowIndex;
    document.getElementById('table').deleteRow(i);
  }
